<?xml version="1.0" encoding="UTF-8"?>
<bean:beans xmlns:bean="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://www.springframework.org/schema/security"
xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd 
http://www.springframework.org/schema/security 
http://www.springframework.org/schema/security/spring-security.xsd">




	<http auto-config="true">
		<!-- 
		<intercept-url pattern="/" access="hasRole('SUPER')" />
		 -->
		 <intercept-url pattern="/" access="permitAll" />
		 <intercept-url pattern="/rest/*" access="permitAll" />
		
		<intercept-url pattern="/submenuadmin" access="hasRole('ADMIN')" />
		<intercept-url pattern="/submenuprof" access="hasRole('PROF')" />
		<intercept-url pattern="/submenucliente" access="hasRole('CLIENTE')" />
		
		<intercept-url pattern="/administrador/*" access="hasRole('ADMIN')" />
		<intercept-url pattern="/profesional/*" access="hasRole('PROF')" />
		<intercept-url pattern="/cliente/*" access="hasRole('CLIENTE')" />
	
		<csrf disabled="true"/>
	<!-- 
		<form-login 
			login-page="/login"
			authentication-failure-url="/error"
       		username-parameter="username"
       		password-parameter="password"
		/>
		<csrf />
		<logout logout-success-url="/login" />
		-->
	
	<!--  
	Usuario Cliente: info@indomita.cl" contraseña:1234
	Usuario Cliente: info@fasco.cl contraseña:1234
	Usuario Cliente: contacto@higuerillas.cl contraseña:1234
	Usuario Cliente: contactogtd@gtd.cl contraseña:1234

	-->
	
		
		
	</http>
	
	<authentication-manager>

		<authentication-provider>
		<user-service>
			<user name="super" password="{noop}1234" authorities="ROLE_ADMIN, ROLE_PROF, ROLE_CLIENTE" />
			<user name="admin" password="{noop}1234" authorities="ROLE_ADMIN" />
			<user name="profe" password="{noop}1234" authorities="ROLE_PROF" />
			<user name="clien" password="{noop}1234" authorities="ROLE_CLIENTE" />		
			
			<user name="info@indomita.cl"  password="{bcrypt}$2a$10$efnTNJyyoq4RFG2CDwT27Ofg35gww7UNhPTY.Q5ynXeX3fReLSNUG" authorities="ROLE_CLIENTE" />
			<user name="info@fasco.cl"  password="{bcrypt}$2a$10$efnTNJyyoq4RFG2CDwT27Ofg35gww7UNhPTY.Q5ynXeX3fReLSNUG" authorities="ROLE_CLIENTE" />
			<user name="contacto@higuerillas.cl" password="{bcrypt}$2a$10$efnTNJyyoq4RFG2CDwT27Ofg35gww7UNhPTY.Q5ynXeX3fReLSNUG" authorities="ROLE_CLIENTE" />
			<user name="contactogtd@gtd.cl"  password="{bcrypt}$2a$10$efnTNJyyoq4RFG2CDwT27Ofg35gww7UNhPTY.Q5ynXeX3fReLSNUG" authorities="ROLE_CLIENTE" />
			
			
		</user-service>
		</authentication-provider>
	</authentication-manager>

</bean:beans>