<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>

    <Configuration status="WARN">
        <Appenders>
            <File name="tmp" fileName="C:\\log\\tmp.log">
                <PatternLayout>
                    <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level - %msg%n</Pattern>
                </PatternLayout>
            </File>
            
            <!--  Registro por consola
            <Console name="Console" target="SYSTEM_OUT">
                <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            </Console>
            -->
            
        </Appenders>
        <Loggers>
            <Root level="all">
                <AppenderRef ref="tmp"/>
                <!-- <AppenderRef ref="Console"/> -->
            </Root>
        </Loggers>
    </Configuration>